*.class
*.log
*.log~
*.pyc
*.pyo
*.py~
*.txt~
.coverage
.deployables
*.dir
*.bak
*.pem
*.swl
*.swm
*.swn
*.swo
*.swp
*.DS_Store
Thumbs.db
*~

dump.gz
/.idea/
/logs/
/import_data/
project/settings/local_settings.py
static/node_modules/
/public/
/venv/
